$color: #262828;

body {
  color: $color;
}

h2{
	color: red;
}
#detail {
  float : right;
}
#customer {
  color : red;
}
#salesman {
  color : blue;
}
#cargando {
  position: absolute;
  top:20%;
  left:40%;

}