$color: #262828;

body {
  color: $color;
}

h2{
	color: red;
}
#detail {
  float : right;
}
#customer {
  color : darkred;
}
#salesman {
  color : darkblue;
}
#cargando {
  position: absolute;
  top:20%;
  left:40%;
}
#detalles {
  overflow-y: scroll;
  height: 84.95vh;
  padding-left: 15px;
  padding-right: 15px;
}
#noVisitas {
  display:scroll;
  position:fixed;
  botton:320px;
  right:200px;;
}
#lista {
  overflow-y: scroll;
  height: 79vh;
  padding-left: 15px;
  padding-right: 15px;
}
.boton {
  width: 100%;
}
#imagen {
  height: 100px;
  width: 100px;
}
.textoBoton {
  text-align: left;
}
#visitas {
  padding-left: 15px;
  font-size: 16pt;
}
#navbar {
   margin-bottom: 0px;
}
.fechas {
  font-size: 13pt;
}
#fechaaas {
  margin-top: 5px;
}
#info {
   font-size: 16pt;

}
#target {
   font-size: 14.5pt;
   margin-top: 15px;
}
#clienteTitulo {
  font-size: 14.5pt;
  margin-top: 15px;
}
#vendedorTitulo {
  font-size: 14.5pt;
  margin-top: 15px;
}